@use "../variables";
@use 'sass:math';

.footer {
  padding-top: 2.5rem;

  hr {
    border-color: variables.$color-white;
    opacity: 1;
  }

  @media #{variables.$media-sm-down} {
    padding-top: 1.5rem;
  }

  &__title {
    position: relative;
    margin-bottom: 36px;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      display: inline-block;
      padding: 0 10px;
      font-weight: 600;
      color: variables.$color-primary;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__buttons {
    padding-bottom: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 200px;
    margin: auto;

    &:hover {
      color: variables.$bg-discount-btn;
    }

    i {
      background-color: variables.$bg-discount-btn-icon;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: variables.$color-white;
      font-size: 80%;
    }
  }

  &__section-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
    color: variables.$color-primary;
  }
}

.copyright {
  &__info {
    text-align: center;
    position: relative;
    padding: 50px 0 25px;
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: -25px;
    z-index: 1;
    transform: translateX(-50%);
    background-color: variables.$color-white;

    img {
      width: 60px;
      height: 60px;
      position: relative;
      z-index: 2;
    }

    &::after, &::before {
      position: absolute;
      top: -12px;
      width: 35px;
      height: 100%;
      display: block;
      content: "";
      background-color: variables.$color-white;
      z-index: 1;
    }

    &::before {
      right: -20px;
      -webkit-transform: skewX(40deg);
      -ms-transform: skewX(40deg);
      transform: skewX(40deg);
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
    }

    &::after {
      left: -20px;
      -webkit-transform: skewX(-40deg);
      -ms-transform: skewX(-40deg);
      transform: skewX(-40deg);
      -webkit-border-top-left-radius: 10px;
      border-top-left-radius: 10px;
    }
  }
}

.is-underline {
  &::after {
    content: '';
    display: block;
    height: 2px;
    background: variables.$color-social-link;
    width: 40px;
    margin-top: 5px;
  }
}