@use "../variables";

.price-list-item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  & blockquote {
    background-color: variables.$color-gray-200;
    border-left: 3px solid variables.$bg-btn-request;
    border-radius: 4px;
    color: variables.$color-gray-800;
    padding: 12px 10px;

    p {
      margin: 0;
    }
  }
}