@use "../variables";

.tab-detail {
  .tab-detail-sticker {
    &.is-fixed {
      position: fixed;
      left: 0;
      width: 100%;
      z-index: variables.$z-index-header;
      background-color: variables.$bg-button-showroom;
    }
  }

  &__header {
    background-color: variables.$bg-button-showroom;
  }

  &__buttons {
    display: flex;

    a {
      display: inline-block;
      padding: 15px 0;
      color: variables.$color-white;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        color: variables.$color-white;
      }
    }
  }

  &__content {
    font-size: 14px;
  }
}