.text-image {
  &__image {
    margin-bottom: 25px;
    text-align: center;

    h4 {
      font-weight: bold;
      font-size: 18px;
      margin: 20px 0 25px;
    }

    button {
      border-radius: 30px;
      font-weight: 600;
      font-size: 18px;
    }
  }
}