<a class="button-link-showroom" href="<%= data.href %>">
    <span class="button-link-showroom__icon">
        <i class="<%= data.icon %>"></i>
    </span>
    <span class="button-link-showroom__text">
        <%= data.text %>
    </span>
</a>