<div class="tab-detail js-tab-detail">
  <div class="tab-detail__header">
    <div class="tab-detail-sticker">
      <div class="container">
        <div class="tab-detail__buttons">
          <a href="#chi_tiet">Chi tiết</a>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-detail__contents pt-30 pb-40">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 order-2 order-lg-1">
          <%- include('./form-detail', { data: data }); %>
        </div>
        <div class="col-12 col-lg-8 order-1 order-lg-2">
          <div id="chi_tiet" class="pb-40">
            <div class="tab-detail__content">
              <%- data.carData.content %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>